*.aux
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ind
*.ist
*.log
*.lot
*.lof
*.out
*.toc
*.synctex(busy)
*.synctex.gz

*.bbl
*.blg
*.run.xml
*-blx.bib

*.pdf
*.ps
*.dvi

/out/
/partials/*.aux
document.aux

.vscode/
*.bak
*.sav
*.tmp